{% extends '_base.html' %}

{% load static %}

{% block page_title %}Home Page{% endblock %}

{% block content %}
    <div class="container pt-5">
        <div class="row no-gutters mb--80">
            <h3 style="color: brown;"><strong>Welcome to BookCafe</strong></h3>
                <div class="d-flex align-content-center p-3">
                    <img class="m-auto image img-fluid" src="{% static 'icons/bookcafe.jpeg' %}" alt="Book Cafe">
                </div>
                <div class="mt-md--50 p-3">

                <p class="text" style="color: grey;">
                    BookCafe provides a virtual environment for book lovers to discover popular books,
                    share the book they read, and leave comments on others book.<br>
                    For adding a new book or leaving a comment, users must Sign in.
                </p>
            </div>
            </div>
    </div>
{% endblock %}