{% extends '_base.html' %} {% block page_title %}Book Lists{% endblock %}
{%block content %}
<div class="container mt-4">
  <div class="row">
    {% for book in books %}
    <!-- Use col-12 for mobile, col-md-6 for medium screens and above -->
    <div class="col-12 col-md-6 d-flex">
      <div class="card m-2 shadow w-100">
        <div class="row g-0 h-100">
          <div class="col-4">
            {% if book.cover %}
            <img
              src="{{ book.cover.url }}"
              class="img-fluid rounded-start"
              alt="book-cover"
            />
            {% elif book.google_cover %}
            <img
              src="{{ book.google_cover }}"
              class="img-fluid rounded-start"
              alt="book-cover"
            />
            {% endif %}
          </div>
          <div class="col-8 d-flex flex-column justify-content-between">
            <div class="card-body">
              <a
                class="text-decoration-none"
                href="{{ book.get_absolute_url }}"
              >
                <h3 class="card-title">
                  <strong>{{ book.title|capfirst }}</strong>
                </h3>
              </a>
              {% if book.description %}
              <p class="card-text pt-3">
                {{ book.description|truncatewords:30 }}
              </p>
              {% elif book.google_description %}
              <p class="card-text pt-3">
                {{ book.google_description|truncatewords:30 }}
              </p>
              {% endif %}
              <p class="text-muted">by: {{ book.author|capfirst }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center mt-3">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
        >Previous</a
      >
    </li>
    {% endif %}

    <li class="page-item">
      <a class="page-link" href="">{{ page_obj.number }}</a>
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endblock %}
